*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    color: #5c5c5c;
    min-height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper{
    max-width: 1024px;
    margin: auto;
    padding: 460px 0;
}
.turntable{
    width: 100%;
}
.page-header{
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    background: dodgerblue;
    color: #fff;

}

    .page-header a{
        color: #fff;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        font-style: italic;
        font-size: 22px;
        padding: 0 20px;
    }

p, h1{
    padding: 0 10px;
}    